*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(223, 223, 223);
}
.center{
    text-align: center;
    margin-top: 20px;
}
.regform{
    margin-top: 20px;
}
.regform .input{
    padding: 10px;
    width: 400px;
    text-align: center;
    border: 0;
    border-radius: 20px;
    margin: 10px;
}
.regform .btn{
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 0;
    border-radius: 20px;
    margin: 10px;
    color: white;
    background-color: black;
}
.red{
    color: White;
    background-color: Red;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
}
.header{
    background-color: rgb(0, 183, 255);
    padding: 10px;
    height: 25px;
}
.out a{
    text-decoration: none;
    color: black;
}

.kit{
    float: left;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: White;
    background-color: rgb(0, 183, 255);
    border-radius: 10px;
}

.kit a{
    text-decoration: none;
    color: White;
    font-size: 30px;
}

.menu{
    padding-left: 20px;
}

.menu a{
    text-decoration: none;
    color: black;
}

.word{
    padding: 30px;
    background-color: rgb(0, 183, 255);
    margin: auto;
    max-width: 300px;
    font-size: 30px;
    border-radius: 20px;
}
.settings{
    padding: 30px;
    background-color: rgb(0, 183, 255);
    margin: auto;
    max-width: 300px;
    font-size: 30px;
    border-radius: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.settings a{
    text-decoration: none;
    color: Grey;
}
.grey{
    color: Grey;
}
.var{
    padding: 20px;
    background-color: rgb(113, 215, 255);
    margin: auto;
    max-width: 300px;
    font-size: 2s0px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}